@*TODO: Switch Model for a ViewModel so I can put styling logic into it.*@
@model IEnumerable<WebApplication1.Models.Message>

@{
  ViewBag.Title = "Task List";
}

<div class="table-responsive">
  <table class="table table-bordered table-highlight table-hover">
    <thead>
      <tr>
        <th>Task</th>
        <th class="hidden-480">Issuer</th>
        <th class="hidden-480">Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @foreach (var task in Model)
      {
        <tr data-taskid="@task.Id">
          <td>@task.Name</td>
          <td>@task.Issuer</td>
          <td>@task.Status</td>
        </tr>
      }
    </tbody>

  </table>
</div>
@section Scripts {
  @Html.RequireJsModule("app/tenant/List")
}


